* {
    width: 80%;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    color: white;
}
body {
    background-image: url(img/estrela.jpg);
    background-position: -200px;
}
 #imagens {
    color: black;
    background-color: #2F4F4F ;
    border: solid 1px;
    margin-top: 80px;
    padding-bottom: 20px;
}

img {
    width: 200px;
    height: auto;
    padding: 5px;
    border-radius: 10px;
}

#texto {
    color: black;
    background-color: #2F4F4F;
    width: auto;
    border: solid 1px;
}

#a {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

#b {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;

}

.tx {
    padding-top: 10px;
}
